body {
  background: #386872 url("./assets/images/background-pattern.jpg") repeat;
  height: 97vh;
  font-family: 'Baloo Chettan 2', sans-serif;
  margin: 0;
}
.container {
  height: 100%;
}
.row {
  width: 80%;
  margin: 0 auto;
}
/* HEADER */
header {
 width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header p {
  font-family: 'Baloo Chettan 2', sans-serif;
  color:white;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}
.logo {
  padding-top: 15px;
}

/* CARDS */
#gameCards {
  margin-top: 20px;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  padding-top:20px;
  border-radius: 10px;
  background-color:black;
}
main .cards .column {
  flex-basis: 16%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .cards .column .card {
  background-color:white;
  height: 130px;
  width: 130px;
  border-radius: 10px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style:preserve-3d;
  /* transition: all 0.5s ease;
  -webkit-transition: all 0.5 ease;
  -ms-transition: all 0.5 ease; */
}

/* FLIP CARDS */
.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 10px;
}
.card-flipped {
  transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
.card-back {
  background-image: url(./assets/images/back-card.jpg);
  backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
  -ms-backface-visibility: hidden;
}
.garlic {
  background-image: url(./assets/images/garlic.jpg);
}
.mushroom {
  background-image: url(./assets/images/mushroom.jpg);
}
.cheese {
  background-image: url(./assets/images/cheese.jpg);
}
.bacon {
  background-image: url(./assets/images/bacon.jpg);
}
.spinach {
  background-image: url(./assets/images/spinach.jpg);
}
.olive {
  background-image: url(./assets/images/olive.jpg);
}
.tomato {
  background-image: url(./assets/images/tomato.jpg);
}
.onion {
  background-image: url(./assets/images/onion.jpg);
}
.peppers {
  background-image: url(./assets/images/peppers.jpg);
}
/* SCORE */
.score {
  text-align: center;
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
  padding:1px;
  margin-bottom: 20px;
}
.score .meter {
	height: 20px;
	position: relative;
	background: #386872;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  margin: 0 auto;
  border: 2px inset #06424f;
}
.score .meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #88A80E;
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  width: 0%;
  text-transform: uppercase;
  color:#ffffff;
  font-family: 'Baloo Chettan 2', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.meter > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  animation: move 2s linear infinite;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.score p {
  text-transform: uppercase;
  color:white;
  font-family: 'Baloo Chettan 2', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.score .number-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 13px;
  margin-top: 7px;
}
.score .number-box p {
  margin: 0 auto;
  display: inline-block;
}
.score .number-box p.numbers {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 7px;
  background-color: #88A80E;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 3px outset #C5CE14;
  margin-right: 10px;
}
.score .number-box .meter {
  position: relative;
}
.score #accuracy {
  display: none;
}

/* Build Pizza */
.build-pizza {
  position: relative;
  height: 250px;
  background: url(./assets/images/pizza-dough.png) no-repeat center center;
  background-size: contain;
  background-color: rgba(0,0,0,.5);
  box-sizing: border-box;
  border-radius: 10px;

}
.pizza-shake {
  animation: dough 0.5s;
}
@keyframes dough {
  0% { transform: translate(1px, 1px) rotate(0deg);
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    -moz-transform: translate(1px, 1px) rotate(0deg);
    -ms-transform: translate(1px, 1px) rotate(0deg);
  }
  10% { transform: translate(-1px, -2px) rotate(-1deg);
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% { transform: translate(-3px, 0px) rotate(1deg);
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
  }
  25% { transform: translate(3px, 2px) rotate(0deg);
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    -moz-transform: translate(3px, 2px) rotate(0deg);
    -ms-transform: translate(3px, 2px) rotate(0deg);
  }
  40% { transform: translate(1px, -1px) rotate(1deg);
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    -ms-transform: translate(1px, -1px) rotate(1deg);
  }
  50% { transform: translate(-1px, 2px) rotate(-1deg);
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
  }
  50% { transform: translate(-3px, 1px) rotate(0deg);
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    -ms-transform: translate(-3px, 1px) rotate(0deg);
  }
  100% { transform: translate(1px, -2px) rotate(-1deg);
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    -ms-transform: translate(1px, -2px) rotate(-1deg);
  }
}
.build-pizza img{
  width: 250px;
  position: absolute;
  left: 87px;
  animation-name: topping;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes topping {
  0% {top: -130px;opacity: 0;
    transform: skew(15deg, 15deg);
    -webkit-transform: skew(15deg, 15deg);
    -moz-transform: skew(15deg, 15deg);
    -ms-transform: skew(15deg, 15deg);
  }
  25% {opacity:0.5;}
  100% { top: 0;opacity: 1;
    transform: skew(0);
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
  }
}

/* Winner Modal */
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgba(0,0,0,0.6);
}
.modal {
    border: 15px solid white;
    width: 40%;
    height: 600px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 20px #000000;
    background-color: #bbf2f9;
    background-size: contain;
}
.modal p {
  font-size:20px;
  margin:0;
  color: #06424f;
}
img.bon-appetit {
  margin-top: 30px;
}
.modal img {
  width: 445px;
}
.modal button {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 12px;
  color: #06424f;
  background-image: linear-gradient(to bottom, #f88703 , #fcb80a);
  border: 5px outset white;
  font-weight: 600;
}
.modal button:hover {
  border: 5px inset white;
}
.hidden {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1550px) {
  .build-pizza img {
    left: 64px;
  }
}
@media only screen and (max-width: 1350px) {
  .row {
    width: 98%;
  }
  .modal {
    width: 50%;
  }
  .build-pizza img {
    left: 82px;
  }
}
@media only screen and (max-width: 1250px) {
  .build-pizza img {
    left: 65px;
  }
}
@media only screen and (max-width: 1100px) {
  main .cards .column {
    flex-basis: calc(100%/3);
  }
  main .cards .column .card {
    width: 150px;
    height: 150px;
  }
  main .cards {
    width: 80%;
  }
  .header {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  header p {
    text-align: center;
  }
  .build-pizza {
    width: 80%;
    margin: 0 auto;
  }
  .build-pizza img {
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    animation-name: none;
    transition: all 1s ease;
  }
}
@media only screen and (max-width: 768px) {
  main .cards {
    background:none;
  }
  main .cards .column .card {
    width: 120px;
    height: 120px;
    box-shadow: 0 0 10px black;
  }
  .logo img {
    width: 300px;
  }
}
@media only screen and (max-width: 620px) {
  .logo img {
    width: 500px;
  }
}
@media only screen and (max-width: 375px) {
  main .cards .column .card {
    width: 100px;
    height: 100px;
  }
  .logo img {
    width: 300px;
  }
  main .cards {
    width: 100%;
    background:none;
    padding-top: 0;
  }
  .score .number-box p {
    display: block;
  }
}
